:root {
    --z-trader-padding-card: 24px;
    --z-trader-border-card: 1px solid rgba(0, 0, 0, 0.1);
    --z-trader-border-radius-large: 14px;
    --z-trader-bg-color-white: rgb(255, 255, 255);
    --z-trader-bg-color-base: rgba(0, 0, 0, 0.015);
}